/*
    // MEDIA QUERY MANAGER

    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800px] is where our normal styles apply
    1800px +    :   Big desktop

    // $breakpoint argument choices

    - phone
    - tab-port
    - tab-land
    - big-desktop
    
    1em = 16px
    // em units works differently in media queries. 
    // Instead of being relative to the root font size they are relative to user agent font size which is 16 px defaultly)


    // ORDER: Base + Typography > General layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  /* 62.5% of 16px (user agent font size) is 10 px */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body,
input,
textarea,
button {
  font-weight: 400;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif; }

.heading-primary {
  font-size: 2.8rem;
  color: #000000;
  font-weigth: 700;
  text-transform: uppercase; }
  .heading-primary--white {
    color: #ffffff; }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.6rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.4rem; } }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 800;
  color: #000000; }
  .heading-secondary--bold {
    font-weight: 800; }
  .heading-secondary--semi-bold {
    font-weight: 500; }
  .heading-secondary--light {
    font-weight: 400; }
  .heading-secondary--white {
    color: #ffffff; }
  .heading-secondary--uppercase {
    text-transform: uppercase; }

.heading-tertiary {
  font-size: 2rem;
  color: #000000;
  font-weight: 600;
  position: relative;
  top: 1rem; }
  .heading-tertiary--white {
    color: #ffffff; }
  .heading-tertiary--bold {
    font-weight: 700; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000; }

.paragraph--small {
  font-size: 1.2rem; }

.paragraph--white {
  color: #ffffff; }

.paragraph--grey {
  color: grey; }

.paragraph--bold {
  font-weight: 600; }

.paragraph--light {
  font-weight: 400; }

.paragraph__ul {
  margin-left: 1.5rem;
  list-style-type: none; }

.paragraph__li::before {
  content: "\00BB"; }

.nav__link-item {
  font-weight: 500;
  color: #000000;
  font-size: 1.6rem;
  position: relative;
  top: -.4rem;
  word-spacing: .2rem; }

.nav .sidebar__link-item {
  position: relative;
  font-size: 2rem;
  color: #000000;
  top: -.6rem;
  font-weight: 500; }

@media (max-width: 37.5em) {
  .nav .sidebar {
    font-size: 1.8rem; } }

.header {
  color: #ffffff; }
  .header__title {
    line-height: 1.2;
    position: relative;
    left: -.5rem;
    font-size: 10rem;
    text-transform: uppercase; }
  .header__subtitle {
    line-height: 0;
    line-height: 3.5rem;
    text-transform: uppercase; }
  .header__paragraph {
    position: relative;
    font-size: 1.6rem;
    top: 2rem; }
  @media (max-width: 56.25em) {
    .header__title {
      font-size: 8rem; }
    .header__subtitle {
      font-size: 3em; }
    .header__paragraph {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .header__title {
      font-size: 6rem; }
    .header__subtitle {
      font-size: 2rem; }
    .header__paragraph {
      font-size: 1.3rem; } }

.menus__description--left {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff; }

.menus__description--right {
  text-align: right;
  font-size: 1.4rem;
  color: #ffffff; }

.food-items__heading {
  font-size: 1.6rem;
  font-weight: 500; }

.food-items__sub-heading {
  position: relative;
  top: -.3rem;
  color: grey;
  font-weight: 500;
  font-size: 1.2rem; }

.food-items__quantity {
  font-size: 1.2rem;
  font-weight: 500; }

.login-signup__message-headin {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 500;
  color: #ffffff; }

.login-signup__message-para {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center; }

.login-signup__form-heading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #E94F37 30%, #E28413 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.login-signup__form-subheading {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  font-style: italic; }

@media (max-width: 37.5em) {
  .login-signup__form-heading {
    font-size: 2.9rem;
    font-weight: 700; }
  .login-signup__form-subheading {
    font-size: 1.6rem;
    font-weight: 500; } }

.order__heading {
  font-size: 2.2rem;
  font-weight: 600; }

.order__cart-item-title {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  font-weight: 400; }

.order__cart-item-price {
  width: 40px;
  float: right;
  text-align: right;
  font-size: 1.3rem; }
  .order__cart-item-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }
  .order__cart-item-price::after {
    content: "";
    clear: both; }

.order__cart-bill-heading {
  font-size: 1.65rem; }

.order__cart-bill {
  font-size: 1.3rem; }
  .order__cart-bill-price::after {
    content: "";
    clear: both; }
  .order__cart-bill-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }

.order__cart-footer {
  font-size: 1.7rem;
  font-weight: 700; }

.order__cart-footer-price {
  float: right; }
  .order__cart-footer-price::after {
    content: "";
    clear: both; }
  .order__cart-footer-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }

@media (max-width: 56.25em) {
  .order__heading {
    font-size: 1.9rem; }
  .order__cart-bill-heading {
    font-size: 1.5rem; } }

@media (max-width: 37.5em) {
  .order__heading {
    font-size: 1.7rem; }
  .order__cart-item-title {
    margin-left: .7 rem; }
  .order__cart-item-price {
    width: 30px; } }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 2.5rem !important; }

.u-margin-top-large {
  margin-top: 3.5rem !important; }

.u-margin-top-extra-large {
  margin-top: 4.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-large {
  margin-bottom: 3.5rem !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 4.5rem !important; }

.u-no-grid-gap {
  grid-gap: 0px !important; }

.u-grid-gap-small {
  grid-gap: 3rem !important; }

.u-grid-gap-medium {
  grid-gap: 5rem !important; }

.u-grid-gap-large {
  grid-gap: 8rem !important; }

.u-grid-gap-extra-large {
  grid-gap: 10rem !important; }

.u-grid-align-content-left {
  align-content: left; }

.u-grid-align-content-right {
  align-content: right; }

.u-grid-align-content-center {
  align-content: center; }

.u-grid-align-items-left {
  align-items: left; }

.u-grid-align-items-right {
  align-items: right; }

.u-grid-align-items-center {
  align-items: center; }

.u-max-width-auto {
  max-width: initial !important; }

.u-apply-max-width {
  max-width: 120rem !important;
  margin: 0 auto;
  display: block; }

.text-align-center {
  text-align: center !important; }

.text-align-left {
  text-align: left !important; }

.text-align-right {
  text-align: right !important; }

.u-show-after-tab-port {
  display: none !important; }

@media (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: .5rem !important; }
  .u-margin-top-medium {
    margin-top: 2rem !important; }
  .u-margin-top-large {
    margin-top: 3rem !important; }
  .u-margin-top-extra-large {
    margin-top: 4rem !important; }
  .u-margin-bottom-small {
    margin-bottom: .5rem !important; }
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important; }
  .u-margin-bottom-large {
    margin-bottom: 3rem !important; }
  .u-margin-bottom-extra-large {
    margin-bottom: 4rem !important; }
  .u-grid-gap-small {
    grid-gap: .3rem !important; }
  .u-grid-gap-medium {
    grid-gap: .5rem !important; }
  .u-grid-gap-large {
    grid-gap: .5rem !important; }
  .u-grid-gap-extra-large {
    grid-gap: 1rem !important; }
  .u-apply-max-width {
    max-width: 75rem !important; }
  .u-show-after-tab-port {
    display: block !important; } }

@keyframes sidebar-right-side-in {
  from {
    transform: translateX(20rem); }
  to {
    transform: translateX(0); } }

@keyframes opacity-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  grid-template-rows: 85vh 15vh; }
  .header__primary {
    background: url("../images/img-comp/carousel1.png") 0% 70% no-repeat;
    background-size: cover;
    position: relative; }
  .header__primary-content {
    padding: 0 1rem;
    width: 58%;
    top: 55% !important; }
  .header__social-media-links {
    position: absolute;
    bottom: 3%;
    list-style-type: none;
    padding: 0 1rem; }
  .header__social-media-link {
    display: inline; }
    .header__social-media-link > * {
      padding-right: 2.5rem; }
    .header__social-media-link--1 {
      width: 2.5rem; }
    .header__social-media-link--2 {
      width: 2.5rem; }
    .header__social-media-link--3 {
      width: 2.3rem; }
  .header__secondary {
    background-image: linear-gradient(to right, #E94F37, #E28413);
    padding: 0 1rem; }
    .header__secondary > * {
      height: 100%;
      position: relative; }
  .header__secondary-icon {
    width: 8rem; }
  @media (max-width: 56.25em) {
    .header {
      grid-template-rows: 60vh; }
    .header__primary {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/img-comp/carousel1.png");
      background-position: 50% 70%;
      background-size: cover; }
    .header__primary-content {
      width: 70%;
      padding: 0 1rem; }
    .header__social-media-links {
      padding: 0 1rem; }
    .header__secondary {
      display: none; } }
  @media (max-width: 37.5em) {
    .header {
      grid-template-rows: 50vh; }
    .header__primary {
      background-position: 100% 70%; }
    .header__primary-content {
      width: 90%;
      top: 60% !important; }
    .header__social-media-links {
      display: none; } }

.about {
  padding: 4rem 1rem 2rem 1rem; }
  .about > div > ul.paragraph__ul {
    margin-top: -.2rem;
    margin-left: 1.5rem; }
  .about__right-img {
    width: 90%;
    position: relative; }
  @media (max-width: 56.25em) {
    .about {
      padding: 3rem 1rem 2rem 1rem; }
    .about > *:last-child {
      display: none; } }
  @media (max-width: 37.5em) {
    .about {
      padding: 2rem 1rem; } }

.menus {
  padding: 2rem 1rem; }
  @media (max-width: 56.25em) {
    .menus__cards-controller {
      display: none; } }

.food-items {
  padding: 2rem 1rem; }
  .food-items__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }
  @media (max-width: 56.25em) {
    .food-items__cards-container {
      grid-gap: 1.5rem !important;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 37.5em) {
    .food-items {
      padding: 0 1rem !important; }
      .food-items__cards-container {
        grid-auto-rows: 10rem; } }

.timing {
  padding: 2rem 1rem; }
  .timing > div > h3 {
    width: 35%;
    line-height: 1; }
  .timing__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-grap: 8rem; }
  @media (max-width: 56.25em) {
    .timing > div > h3 {
      width: 35rem; }
    .timing__cards-container {
      grid-gap: 3rem; } }
  @media (max-width: 37.5em) {
    .timing {
      padding: .5rem 1rem !important; }
      .timing__cards-container {
        grid-gap: 1.5rem; } }

.testimonials {
  padding: 4rem rem 2rem 1rem; }
  .testimonials > div > h3 {
    width: 20%;
    line-height: 1;
    position: relative; }
  @media (max-width: 56.25em) {
    .testimonials {
      padding: 2rem 1rem; }
      .testimonials > div > h3 {
        width: 25rem; } }

.contact {
  padding: 2rem 1rem 6rem 1rem; }
  .contact-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 8fr;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1rem; }
  .contact-left {
    background-image: linear-gradient(to right, #E94F37, #E28413);
    padding: 2.5rem; }
  .contact-right {
    padding: 2.5rem; }

.primary-button {
  background: linear-gradient(to right, #E94F37, #E28413);
  border-radius: .8rem;
  border: none;
  padding: 1.3rem 1.8rem;
  cursor: pointer;
  display: block;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  @media (max-width: 56.25em) {
    .primary-button {
      border-radius: .5rem;
      padding: .9rem 1.6rem; } }
  @media (max-width: 37.5em) {
    .primary-button {
      border-radius: .3rem;
      padding: .7rem 1.4rem; } }

.primary-button a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px; }
  @media (max-width: 56.25em) {
    .primary-button a {
      font-size: 1.2rem;
      font-weight: 700; } }

.filter-button {
  display: block;
  background: linear-gradient(to right, #E94F37, #E28413);
  border: none;
  border-radius: .8rem;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .filter-button p {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600; }

.menus-detail-button {
  background-color: #ffffff;
  border-radius: .8rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .menus-detail-button a {
    color: #E94F37;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px; }

.login-signup__button {
  border-radius: 45px;
  border: 1.3px solid #ffffff;
  padding: 1rem 4rem; }
  .login-signup__button a {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300; }

.order__deliver {
  border: none;
  background: linear-gradient(to right, #E94F37, #E28413);
  padding: 5px 1rem;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;
  font-size: 1.5rem;
  outline: none; }

.order__deliver:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 0.5rem rgba(0, 0, 0, 0.1); }

.order__add-new {
  border: 2px solid #E94F37;
  padding: 3px 1.4rem;
  color: #E94F37;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s;
  outline: none; }

.order__add-new:hover {
  background-color: #E94F37;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.1); }

@media (max-width: 75em) {
  .order__deliver {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.1rem; }
  .order__add-new {
    font-size: 1.1rem; } }

.menus__card {
  position: relative;
  border-radius: -.8rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 1rem 0; }
