/*
    // MEDIA QUERY MANAGER

    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800px] is where our normal styles apply
    1800px +    :   Big desktop

    // $breakpoint argument choices

    - phone
    - tab-port
    - tab-land
    - big-desktop
    
    1em = 16px
    // em units works differently in media queries. 
    // Instead of being relative to the root font size they are relative to user agent font size which is 16 px defaultly)


    // ORDER: Base + Typography > General layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  /* 62.5% of 16px (user agent font size) is 10 px */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body,
input,
textarea,
button {
  font-weight: 400;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif; }

.heading-primary {
  font-size: 2.8rem;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-primary--white {
    color: #ffffff; }
  @media (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.6rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.4rem; } }

.heading-secondary {
  font-size: 1.8rem;
  font-weight: 800;
  color: #000000; }
  .heading-secondary--bold {
    font-weight: 800; }
  .heading-secondary--semi-bold {
    font-weight: 500; }
  .heading-secondary--light {
    font-weight: 400; }
  .heading-secondary--white {
    color: #ffffff; }
  .heading-secondary--uppercase {
    text-transform: uppercase; }

.heading-tertiary {
  font-size: 2rem;
  color: #000000;
  font-weight: 600;
  position: relative;
  top: 1rem; }
  .heading-tertiary--white {
    color: #ffffff; }
  .heading-tertiary--bold {
    font-weight: 700; }

.paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000; }

.paragraph--small {
  font-size: 1.2rem; }

.paragraph--white {
  color: #ffffff; }

.paragraph--grey {
  color: grey; }

.paragraph--bold {
  font-weight: 600; }

.paragraph--light {
  font-weight: 400; }

.paragraph__ul {
  margin-left: 1.5rem;
  list-style-type: none; }

.paragraph__li::before {
  content: "\00BB"; }

.nav__link-item {
  font-weight: 500;
  color: #000000;
  font-size: 1.6rem;
  position: relative;
  top: -.4rem;
  word-spacing: .2rem; }

.nav .sidebar__link-item {
  position: relative;
  font-size: 2rem;
  color: #000000;
  top: -.6rem;
  font-weight: 500; }

@media (max-width: 37.5em) {
  .nav .sidebar {
    font-size: 1.8rem; } }

.header {
  color: #ffffff; }
  .header__title {
    line-height: 1.2;
    position: relative;
    left: -.5rem;
    font-size: 10rem;
    text-transform: uppercase; }
  .header__subtitle {
    line-height: 0;
    line-height: 3.5rem;
    text-transform: uppercase; }
  .header__paragraph {
    position: relative;
    font-size: 1.6rem;
    top: 2rem; }
  @media (max-width: 56.25em) {
    .header__title {
      font-size: 8rem; }
    .header__subtitle {
      font-size: 3em; }
    .header__paragraph {
      font-size: 1.5rem; } }
  @media (max-width: 37.5em) {
    .header__title {
      font-size: 6rem; }
    .header__subtitle {
      font-size: 2rem; }
    .header__paragraph {
      font-size: 1.3rem; } }

.catalog__description--left {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff; }

.catalog__description--right {
  text-align: right;
  font-size: 1.4rem;
  color: #000000; }

.shoe-items__heading {
  font-size: 1.6rem;
  font-weight: 500; }

.shoe-items__sub-heading {
  position: relative;
  top: -.3rem;
  color: grey;
  font-weight: 500;
  font-size: 1.2rem; }

.shoe-items__quantity {
  font-size: 1.2rem;
  font-weight: 500; }

.login-signup__message-headin {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 500;
  color: #ffffff; }

.login-signup__message-para {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center; }

.login-signup__form-heading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #EBC7E6 30%, #BFACE2 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.login-signup__form-subheading {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  font-style: italic; }

@media (max-width: 37.5em) {
  .login-signup__form-heading {
    font-size: 2.9rem;
    font-weight: 700; }
  .login-signup__form-subheading {
    font-size: 1.6rem;
    font-weight: 500; } }

.order__heading {
  font-size: 2.2rem;
  font-weight: 600; }

.order__cart-item-title {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  font-weight: 400; }

.order__cart-item-price {
  width: 40px;
  float: right;
  text-align: right;
  font-size: 1.3rem; }
  .order__cart-item-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }
  .order__cart-item-price::after {
    content: "";
    clear: both; }

.order__cart-bill-heading {
  font-size: 1.65rem; }

.order__cart-bill {
  font-size: 1.3rem; }
  .order__cart-bill-price::after {
    content: "";
    clear: both; }
  .order__cart-bill-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }

.order__cart-footer {
  font-size: 1.7rem;
  font-weight: 700; }

.order__cart-footer-price {
  float: right; }
  .order__cart-footer-price::after {
    content: "";
    clear: both; }
  .order__cart-footer-price::before {
    content: "\20B9";
    margin-right: 4px;
    font-weight: 500; }

@media (max-width: 56.25em) {
  .order__heading {
    font-size: 1.9rem; }
  .order__cart-bill-heading {
    font-size: 1.5rem; } }

@media (max-width: 37.5em) {
  .order__heading {
    font-size: 1.7rem; }
  .order__cart-item-title {
    margin-left: .7 rem; }
  .order__cart-item-price {
    width: 30px; } }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 2.5rem !important; }

.u-margin-top-large {
  margin-top: 3.5rem !important; }

.u-margin-top-extra-large {
  margin-top: 4.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-large {
  margin-bottom: 3.5rem !important; }

.u-margin-bottom-extra-large {
  margin-bottom: 4.5rem !important; }

.u-no-grid-gap {
  grid-gap: 0px !important; }

.u-grid-gap-small {
  grid-gap: 3rem !important; }

.u-grid-gap-medium {
  grid-gap: 5rem !important; }

.u-grid-gap-large {
  grid-gap: 8rem !important; }

.u-grid-gap-extra-large {
  grid-gap: 10rem !important; }

.u-grid-align-content-left {
  align-content: left; }

.u-grid-align-content-right {
  align-content: right; }

.u-grid-align-content-center {
  align-content: center; }

.u-grid-align-items-left {
  align-items: left; }

.u-grid-align-items-right {
  align-items: right; }

.u-grid-align-items-center {
  align-items: center; }

.u-max-width-auto {
  max-width: initial !important; }

.u-apply-max-width {
  max-width: 120rem !important;
  margin: 0 auto;
  display: block; }

.text-align-center {
  text-align: center !important; }

.text-align-left {
  text-align: left !important; }

.text-align-right {
  text-align: right !important; }

.u-show-after-tab-port {
  display: none !important; }

@media (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: .5rem !important; }
  .u-margin-top-medium {
    margin-top: 2rem !important; }
  .u-margin-top-large {
    margin-top: 3rem !important; }
  .u-margin-top-extra-large {
    margin-top: 4rem !important; }
  .u-margin-bottom-small {
    margin-bottom: .5rem !important; }
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important; }
  .u-margin-bottom-large {
    margin-bottom: 3rem !important; }
  .u-margin-bottom-extra-large {
    margin-bottom: 4rem !important; }
  .u-grid-gap-small {
    grid-gap: .3rem !important; }
  .u-grid-gap-medium {
    grid-gap: .5rem !important; }
  .u-grid-gap-large {
    grid-gap: .5rem !important; }
  .u-grid-gap-extra-large {
    grid-gap: 1rem !important; }
  .u-apply-max-width {
    max-width: 75rem !important; }
  .u-show-after-tab-port {
    display: block !important; } }

@keyframes sidebar-right-side-in {
  from {
    transform: translateX(20rem); }
  to {
    transform: translateX(0); } }

@keyframes opacity-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.grid {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .grid .grid__full {
    grid-column: span 12; }
  .grid .grid__half {
    grid-column: span 6; }
  .grid .grid__third {
    grid-column: span 4; }
  .grid .grid__span1 {
    grid-column: span 1; }
  .grid .grid__span2 {
    grid-column: span 2; }
  .grid .grid__span3 {
    grid-column: span 3; }
  .grid .grid__span4 {
    grid-column: span 4; }
  .grid .grid__span5 {
    grid-column: span 5; }
  .grid .grid__span6 {
    grid-column: span 6; }
  .grid .grid__span7 {
    grid-column: span 7; }
  .grid .grid__span8 {
    grid-column: span 8; }
  .grid .grid__span9 {
    grid-column: span 9; }
  .grid .grid__span10 {
    grid-column: span 10; }
  .grid .grid__span11 {
    grid-column: span 11; }
  .grid .grid__span12 {
    grid-column: span 12; }
  @media (max-width: 56.25em) {
    .grid {
      max-width: 75rem; }
      .grid [class*="grid__"] {
        grid-column: span 12; } }

.nav {
  width: 100%;
  display: block;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  padding: 0 1rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  @media (max-width: 56.25em) {
    .nav {
      display: none; } }
  .nav__wrapper {
    align-items: center; }
  .nav__logo-img {
    width: 35%;
    position: relative;
    padding: 1rem 0; }
  .nav__links-wrap {
    display: grid;
    justify-items: end; }
  .nav__links {
    list-style-type: none; }
  .nav__link {
    display: inline-block;
    margin: 0 1.5rem; }
  .nav__link-icon {
    position: relative;
    right: .3rem;
    width: 1.7rem; }

.mob-nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 100;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  @media (max-width: 56.25em) {
    .mob-nav {
      display: block; } }
  .mob-nav-wrapper {
    padding: 1rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 10fr 1fr; }
  .mob-nav__logo-img {
    margin: 0 auto;
    display: block;
    width: 8rem;
    position: relative; }
  .mob-nav__menu-icon, .mob-nav__cart-icon {
    width: 25px; }
  .mob-nav__cart {
    display: grid;
    justify-items: end; }

.sidebar {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw; }
  .sidebar__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5; }
  .sidebar__close-icon {
    width: 3rem; }
  .sidebar__left {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60%;
    height: inherit;
    float: left;
    animation: opacity-in 1s ease-in; }
  .sidebar__right {
    display: none;
    position: relative;
    background-color: #ffffff;
    width: 40%;
    height: inherit;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.16);
    float: right;
    transition: 1s all;
    animation: sidebar-right-side-in 0.4s cubic-bezier(0.68, 1.08, 0.58, 0.96); }
  .sidebar::after {
    content: "";
    clear: both;
    display: table; }
  .sidebar__items {
    margin: 2rem 0;
    list-style-type: none; }
  .sidebar__item {
    margin: 2.5rem; }
  .sidebar__link-icon {
    width: 20px;
    margin-right: 1rem; }
  .sidebar__logo-wrapper {
    background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
    height: 7rem;
    position: relative; }
  .sidebar__logo {
    width: 25%;
    margin-left: 2.5rem; }
    .sidebar__logo {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  @media (max-width: 37.5em) {
    .sidebar__left {
      width: 30%; }
    .sidebar__right {
      width: 70%; }
    .sidebar__logo {
      width: 70px; } }

.footer {
  background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
  padding: 2.5rem 1rem;
  overflow: hidden;
  width: 100%; }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .footer__intro, .footer__contact {
    grid-column: span 4; }
  .footer__info, .footer__meals {
    grid-column: span 2; }
  .footer__logo {
    width: 25%; }
  .footer__ul {
    margin-top: .8rem;
    margin-left: .8rem;
    list-style-type: none; }
  .footer__li {
    margin: 1rem 0; }
    .footer__li a {
      color: #ffffff;
      font-size: 1.4rem; }
      .footer__li a::before {
        font-size: 1.3rem;
        position: relative;
        right: .7rem; }
  .footer__aboutus-ul {
    position: relative;
    top: .5rem; }
    .footer__aboutus-ul > * {
      margin: 1rem 0 !important; }
  @media (max-width: 56.25em) {
    .footer__intro {
      margin-top: 3rem;
      grid-row: 2;
      grid-column: span 6; }
    .footer__info, .footer__meals, .footer__contact {
      grid-column: span 4; } }
  @media (max-width: 37.5em) {
    .footer__intro {
      grid-row: span 7;
      grid-column: span 12; }
    .footer__info, .footer__meals {
      grid-row: 1;
      grid-column: span 6; }
    .footer__contact {
      margin-top: 4rem;
      grid-row: 2;
      grid-column: span 12; } }

.header {
  grid-template-rows: 85vh 15vh; }
  .header__primary {
    background: url("../images/img-comp/carousel1.jpg") 0% 45% no-repeat;
    background-size: cover;
    position: relative; }
  .header__primary-content {
    padding: 0 1rem;
    width: 58%;
    top: 55% !important; }
    .header__primary-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .header__social-media-links {
    position: absolute;
    bottom: 3%;
    list-style-type: none;
    padding: 0 1rem; }
  .header__social-media-link {
    display: inline; }
    .header__social-media-link > * {
      padding-right: 2.5rem; }
    .header__social-media-link--1 {
      width: 2.5rem; }
    .header__social-media-link--2 {
      width: 2.5rem; }
    .header__social-media-link--3 {
      width: 2.3rem; }
  .header__secondary {
    background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
    padding: 0 1rem; }
    .header__secondary > * {
      height: 100%;
      position: relative; }
  .header__secondary-icon {
    width: 4rem; }
  @media (max-width: 56.25em) {
    .header {
      grid-template-rows: 60vh; }
    .header__primary {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/img-comp/carousel1.jpg");
      background-position: 50% 70%;
      background-size: cover; }
    .header__primary-content {
      width: 70%;
      padding: 0 1rem; }
    .header__social-media-links {
      padding: 0 1rem; }
    .header__secondary {
      display: none; } }
  @media (max-width: 37.5em) {
    .header {
      grid-template-rows: 50vh; }
    .header__primary {
      background-position: 100% 70%; }
    .header__primary-content {
      width: 90%;
      top: 60% !important; }
    .header__social-media-links {
      display: none; } }

.about {
  padding: 4rem 1rem 2rem 1rem; }
  .about > div > ul.paragraph__ul {
    margin-top: -.2rem;
    margin-left: 1.5rem; }
  .about__right-img {
    width: 90%;
    position: relative; }
  @media (max-width: 56.25em) {
    .about {
      padding: 3rem 1rem 2rem 1rem; }
    .about > *:last-child {
      display: none; } }
  @media (max-width: 37.5em) {
    .about {
      padding: 2rem 1rem; } }

.catalog {
  padding: 2rem 1rem; }
  @media (max-width: 56.25em) {
    .catalog__cards-controller {
      display: none; } }

.-items {
  padding: 2rem 1rem; }
  .-items__cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }
  @media (max-width: 56.25em) {
    .-items__cards-container {
      grid-gap: 1.5rem !important;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 37.5em) {
    .-items {
      padding: 0rem 1rem !important; }
      .-items__cards-container {
        grid-auto-rows: 10rem; } }

.timing {
  padding: 2rem 1rem; }
  .timing > div > h3 {
    width: 35%;
    line-height: 1; }
  .timing__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem; }
  @media (max-width: 56.25em) {
    .timing > div > h3 {
      width: 35rem; }
    .timing__cards-container {
      grid-gap: 3rem; } }
  @media (max-width: 37.5em) {
    .timing {
      padding: .5rem 1rem !important; }
      .timing__cards-container {
        grid-gap: 1.5rem; } }

.testimonials {
  padding: 4rem 1rem 2rem 1rem; }
  .testimonials > div > h3 {
    width: 20%;
    line-height: 1;
    position: relative; }
  @media (max-width: 56.25em) {
    .testimonials {
      padding: 2rem 1rem; }
      .testimonials > div > h3 {
        width: 25rem; } }

.contact {
  padding: 2rem 1rem 6rem 1rem; }
  .contact-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 8fr;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1rem; }
  .contact-left {
    background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
    padding: 2.5rem; }
  .contact-right {
    padding: 2.5rem; }

.primary-button {
  background: linear-gradient(to right, #EBC7E6, #BFACE2);
  border-radius: .8rem;
  border: none;
  padding: 1.3rem 1.8rem;
  cursor: pointer;
  display: block;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  @media (max-width: 56.25em) {
    .primary-button {
      border-radius: .5rem;
      padding: .9rem 1.6rem; } }
  @media (max-width: 37.5em) {
    .primary-button {
      border-radius: .3rem;
      padding: .7rem 1.4rem; } }

.primary-button a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px; }
  @media (max-width: 56.25em) {
    .primary-button a {
      font-size: 1.2rem;
      font-weight: 700; } }

.filter-button {
  display: block;
  background: linear-gradient(to right, #EBC7E6, #BFACE2);
  border: none;
  border-radius: .8rem;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .filter-button p {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600; }

.catalog-detail-button {
  background-color: #ffffff;
  border-radius: .8rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .catalog-detail-button a {
    color: #EBC7E6;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px; }

.login-signup__button {
  border-radius: 45px;
  border: 1.3px solid #ffffff;
  padding: 1rem 4rem; }
  .login-signup__button a {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300; }

.order__deliver {
  border: none;
  background: linear-gradient(to right, #EBC7E6, #BFACE2);
  padding: 5px 1rem;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s;
  font-size: 1.5rem;
  outline: none; }

.order__deliver:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 0.5rem rgba(0, 0, 0, 0.1); }

.order__add-new {
  border: 2px solid #EBC7E6;
  padding: 3px 1.4rem;
  color: #EBC7E6;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s;
  outline: none; }

.order__add-new:hover {
  background-color: #EBC7E6;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.1); }

@media (max-width: 75em) {
  .order__deliver {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.1rem; }
  .order__add-new {
    font-size: 1.1rem; } }

.dropdown {
  position: relative; }
  .dropdown__button {
    position: relative;
    width: inherit;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s all;
    font-size: 1.5rem; }
  .dropdown__button-arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 2rem;
    font-size: 2rem;
    width: 2rem; }
    .dropdown__button-arrow img {
      width: inherit; }
  .dropdown__options {
    transition: 3s ease-in-out;
    position: absolute;
    width: 94%;
    display: none;
    top: 6.5rem;
    z-index: 50;
    border-radius: 1rem;
    padding: 0px 1.5rem;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.13);
    background-color: #ffffff; }
  .dropdown__option {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem 0;
    margin: 0; }
    .dropdown__option:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .dropdown__option:hover {
      font-weight: 500; }

.catalog__card {
  position: relative;
  border-radius: -.8rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 1rem 0; }

.catalog__inner-card {
  z-index: -1;
  width: 100%;
  height: 93%;
  position: absolute;
  bottom: 0;
  background: primary-gradient;
  clip-path: polygon(0 45%, 100% 12%, 100% 100%, 0% 100%);
  border-radius: 1rem; }

.catalog__card-img {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 40%;
  top: 1rem; }

.catalog__card-list {
  padding: 2rem 5rem 0 5rem; }

.catalog__card-item {
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  margin: .8rem 0; }

.catalog__card-items {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.35);
  padding: .2rem .7rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  margin: .2rem; }

@media (max-width: 37.5em) {
  .catalog__card {
    width: 75%;
    margin: 0 auto;
    display: block; } }

@media (max-width: 37.5em) {
  .catalog__inner-card {
    height: 90%;
    clip-path: polygon(0 32%, 100% 10%, 100% 100%, 0% 100%); }
  .catalog__card-list {
    padding: .5rem 1.2rem; }
  .catalog__card {
    width: 100%; } }

.shoe-items {
  padding: 2rem 1rem; }
  .shoe-items__cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem; }
  .shoe-items__card {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: 3.5fr 7.5fr;
    grid-gap: 1rem;
    grid-column: span 2; }
  .shoe-items__card-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .shoe-items__card-img {
    width: 100%;
    height: 100%;
    position: relative; }
  .shoe-items__show-more {
    width: 100%;
    grid-column: span 2;
    display: block;
    position: relative;
    background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .shoe-items__show-more-text-shadow {
    color: rgba(255, 255, 255, 0.09);
    font-size: 4.5rem;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: 1rem; }
  .shoe-items__show-more-text {
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    font-weight: 700; }
    .shoe-items__show-more-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .shoe-items__card {
      grid-column: span 3; }
    .shoe-items__show-more {
      height: 8rem;
      grid-column: span 6; } }
  @media (max-width: 37.5em) {
    .shoe-items__cards-container {
      grid-gap: 1rem; }
    .shoe-items__card {
      grid-column: span 6; }
      .shoe-items__card:nth-child(5), .shoe-items__card:nth-child(6), .shoe-items__card:nth-child(7), .shoe-items__card:nth-child(8) {
        display: none; } }

.timing__card {
  padding: 1.5rem;
  border-radius: 5px;
  background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
  position: relative;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15); }
  .timing__card > h4 {
    font-size: 2.1rem; }
  .timing__card--3 {
    grid-column: span 2; }
    .timing__card--3 > *:not(img) {
      width: 70%; }

.timing__card-img {
  position: absolute; }
  .timing__card-img--1 {
    width: 24%;
    right: 2rem;
    bottom: 6rem;
    transform: rotate(0deg); }
  .timing__card-img--2 {
    width: 25%;
    right: 2rem;
    bottom: 6rem;
    transform: rotate(0deg); }
  .timing__card-img--3 {
    width: 22%;
    right: 8rem;
    top: -4rem; }

@media (max-width: 56.25em) {
  .timing__card {
    grid-column: span 2; }
    .timing__card--1 > *:not(img), .timing__card--2 > *:not(img), .timing__card--3 > *:not(img) {
      width: 75%; }
    .timing__card--2 {
      display: grid;
      justify-items: end; }
  .timing__card-img--2 {
    left: 1rem; }
  .timing__card-img--3 {
    right: 1.8rem; }
  .timing__card-img--1, .timing__card-img--2, .timing__card-img--3 {
    width: 22%; }
    .timing__card-img--1, .timing__card-img--2, .timing__card-img--3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); } }

@media (max-width: 56.25em) and (max-width: 37.5em) {
  .timing__card {
    width: 100%; }
    .timing__card--1 > *:not(img), .timing__card--2 > *:not(img), .timing__card--3 > *:not(img) {
      width: 100%; }
    .timing__card--2 {
      display: grid;
      justify-items: start; }
    .timing__card--3 {
      padding: 1rem; }
      .timing__card--3 > *:not(img) {
        width: 100%; }
  .timing__card-img--1, .timing__card-img--2, .timing__card-img--3 {
    display: none; } }

.testimonials__container {
  padding-top: 4rem; }

.testimonials__card {
  width: inherit;
  height: 100%;
  background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
  z-index: -2; }
  .testimonials__card::after {
    z-index: 2;
    content: "";
    height: 90%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    left: 0;
    z-index: -1;
    box-shadow: none; }
    .testimonials__card::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }

.testimonials__img {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%); }

.testimonials__details {
  width: 90%;
  padding: 3rem 0 3rem 0;
  display: block;
  margin: 0 auto; }

.testimonials__controllers {
  display: none;
  margin: 1.5rem 0;
  text-align: center; }

.testimonials__indicator {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid #EBC7E6;
  margin: 0 1rem; }
  .testimonials__indicator--1 {
    background-color: #EBC7E6; }

@media (max-width: 56.25em) {
  .testimonials__card {
    width: 95%;
    margin: 0 auto; }
  .testimonials__container {
    width: 100%;
    margin: 0 auto;
    grid-gap: 4rem !important; }
  .testimonials__details {
    width: 80%;
    padding: 5rem 0; }
  .testimonials__controllers {
    display: block; } }

@media (max-width: 37.5em) {
  .testimonials__card {
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
    width: 96%; }
  .testimonials__details {
    padding: 3rem 0; }
  .testimonials__container {
    column-gap: 0rem !important; } }

.info-banner {
  display: none;
  background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
  padding: 1rem; }
  .info-banner__box {
    display: grid;
    grid-gap: 1.5rem; }
    .info-banner__box--1 {
      grid-template-columns: 1fr 11fr; }
    .info-banner__box--2 {
      grid-template-columns: 11fr 1fr; }
  @media (max-width: 56.25em) {
    .info-banner {
      display: block; } }
  @media (max-width: 37.5em) {
    .info-banner__box {
      display: block;
      margin: 1rem 0 .5rem 0; }
    .info-banner__icon {
      display: none; } }

.contact__container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 4fr 8fr;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1rem; }

.contact__left {
  background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
  padding: 3rem; }

.contact__right {
  padding: 2.5rem;
  background-color: #ffffff; }

.contact__ul {
  list-style-type: none; }

.contact__li {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 11fr; }

.contact__icon > * {
  width: 2.4rem;
  margin-right: 2rem; }

.contact__li-text {
  font-size: 1.5em;
  color: white; }

@media (max-width: 56.25em) {
  .contact__container {
    display: block; }
  .contact__left, .contact__right {
    padding: 2rem; }
  .contact__li {
    margin: 1.5rem 0; }
  .contact__icon > * {
    margin-right: 1.5rem !important; } }

.form__input, .form__textarea {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin: 1rem 0;
  font-size: 1.4rem; }
  .form__input::placeholder, .form__textarea::placeholder {
    color: gray; }
  .form__input:focus, .form__textarea:focus {
    outline: none; }

.form__textarea {
  height: 10rem; }

.form__button {
  padding: 1rem 4rem; }
  .form__button:focus {
    outline: none; }

.kikz-banner {
  padding: 3rem 1rem;
  background-image: linear-gradient(to right, #BFACE2 10%, #EBC7E6 65%, rgba(255, 255, 255, 0.2) 100%), url("../images/img-comp/carousel1.jpg");
  background-repeat: no-repeat;
  background-position: right; }
  .kikz-banner__content {
    padding: 0 1rem; }
  @media (max-width: 56.25em) {
    .kikz-banner {
      background-image: linear-gradient(to right, rgba(191, 172, 226, 0.9), rgba(235, 199, 230, 0.9)), url("../images/img-comp/carousel1.jpg");
      background-size: cover; }
      .kikz-banner__content {
        padding: 0; } }

.header-secondary {
  padding: 7rem 1rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../images/img-comp/carousel1.jpg");
  background-position: center left;
  background-size: cover; }
  .header-secondary__title {
    font-size: 3.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #ffffff; }
  .header-secondary__subtitle {
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
    display: block;
    font-size: 1.3rem; }
  @media (max-width: 56.25em) {
    .header-secondary__subtitle {
      width: 90%; } }
  @media (max-width: 37.5em) {
    .header-secondary__title {
      font-size: 3rem;
      letter-spacing: 3px; }
    .header-secondary__subtitle {
      width: 100%; } }

.maps {
  padding: 1rem 1rem 4.5rem 1rem; }
  .maps__iframe {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.about-introduction {
  padding: 5rem 1rem; }
  @media (max-width: 56.25em) {
    .about-introduction {
      padding: 3rem 1rem; } }

.traits {
  padding: 5rem 1rem; }
  .traits h5.heading-secondary {
    font-size: 1.6rem;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transform: rotate(-20deg) translateY(20px);
    background-image: linear-gradient(to right, #EBC7E6, #BFACE2);
    display: inline-block;
    padding: 4px 5px 3px 5px; }
  .traits p.paragraph {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 90%;
    float: right;
    margin-bottom: 1rem; }
    .traits p.paragraph::after {
      content: "";
      clear: both;
      display: table; }
  @media (max-width: 56.25em) {
    .traits {
      padding: 3rem 1rem; } }
  @media (max-width: 37.5em) {
    .traits h5.heading-secondary {
      font-weight: 700 !important;
      font-size: 1.6rem !important;
      transform: rotate(-15deg) translateY(10px); }
    .traits p.paragraph {
      margin: 0; }
    .traits__panel:not(:last-child) {
      margin-bottom: 2rem; } }
